.avatar {
  display: flex;
  justify-content: center;
  margin-right: 790px;
  margin-top: 10px;
}

.images {
  display: flex;
  margin-top: 20px;
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: -22px;
  margin-left: 200px;
}

.ProfilePic {
  display: flex;
  margin-right: 800px;
  margin-top: 5px;
}
