.avatar {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-right: 1000px;
  margin-top: 40px;
}

.images {
  display: flex;
  margin-top: 20px;
  margin-right: 600px;
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: -22px;
  margin-left: 222px;
}

.ProfilePic {
  display: flex;
  margin-right: 1000px;
  margin-top: 10px;
}

.Tribe {
  display: flex;
  margin-left: 450px;
  margin-top: -200px;
}

.links {
  display: inline-flex;
  text-align: center;
  margin: 20px 0 0;
  justify-content: space-evenly;
  padding: 10px 0;
}

a {
  display: inline-flex;
}

/* a {
  display: flex;
  position: absolute;
  top: 40px;
  margin: auto;
  padding: 8px;
  justify-content: space-evenly;
} */

/* .links {
  text-align: center;
  margin: 20px 0 0;
  padding: 10px 0;
} */
