.avatar {
  display: flex;
  justify-content: center;
<<<<<<< HEAD
  margin-right: 790px;
  margin-top: 10px;
=======
  margin-top: -10px;
  margin-right: 790px;
>>>>>>> 9bb32a0... Updated Profile.css
}

.images {
  display: flex;
  margin-top: 20px;
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: -22px;
  margin-left: 200px;
}

.ProfilePic {
  display: flex;
  margin-right: 800px;
<<<<<<< HEAD
  margin-top: 5px;
=======
  margin-top: 50px;
>>>>>>> 9bb32a0... Updated Profile.css
}
